@use "../../../../styles/admin/abstract/index.scss" as *;

.default {
  border-radius: 200px;
  overflow: hidden;
  position: relative;
  background-color: white;
  &.sm {
    width: 32px;
    height: 32px;
  }
  &.md {
    width: 40px;
    height: 40px;
  }
  &.lg {
    width: 90px;
    height: 90px;
  }
  &.xl {
    width: 100px;
    height: 100px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  }
  img {
    @include position-center;
    width: 100%;
    height: 100%;
  }
  &.img:not(.lg) {
    border: 2px solid $cms-main-color;
  }
  &.img.xl {
    border: 4px solid white;
  }
  &.empty {
    border: 2px solid $cms-gray-600;
    &.sm img {
      width: 20px;
      height: 20px;
    }
    &.md img {
      width: 24px;
      height: 24px;
    }
    &.lg img,
    &.xl img {
      width: 68px;
      height: 68px;
    }
  }
  &.empty.lg,
  &.empty.xl {
    border: 1px solid $cms-gray-200;
  }
}
