@use "../../../../../styles/admin/abstract/index.scss" as *;

.container { @include flex(column, null, null, 18px); }

.avatar-wrap {
  @include flex(null, null, center, 12px);
  width: fit-content;
  position: relative;
  .position {
    position: absolute;
    bottom: 5px;
    left: 80px;
  }
  .btn {
    width: 24px;
    height: 24px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .edit-btn {
    display: block;
    cursor: pointer;
    input[type=file] {
      display: none;
    }
  }
  .space {
    bottom: -10px;
    // display: none;
    .edit-wrap {
      padding: 8px 4px;
      @include flex(null, center, center, 8px);
      background-color: $cms-gray-50;
      border: 1px solid $cms-gray-100;
      border-radius: 10px;
      box-shadow: 2px 2px 3.7px rgba(0, 0, 0, 0.25);
    }
  }
  .btn-wrap {
    @include flex(column, null, center, 8px);
  }

  .text {
    @include font-theme($bodySm, $m);
    color: $cms-gray-700;
  }
}

.flex {
  @include grid-col(1fr 1fr, $gap: 24px);
}

.input-wrap {
  @include flex(column, null, null, 28px);
  margin-bottom: 24px;
}

.error {
  position: absolute;
}

.action-btn-wrap {
  @include flex(null, null, center, 10px);
}