.wrapper {
  @include grid-col(1fr 1fr, $justiItem: end, $align: center);

}

.name {
  @include flex(false, flex-end, center, 10px);
  @include font-theme($title2Xl, $b);
  margin-top: 50px;
}

.txt-wrap {
  padding-right: 100px;
}

.img-wrap {
  width: 511px;
  height: 485px;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid $gray-100;
  img {
    width: 100%;
    height: 100%;
  }
}