@use "../../../../styles/admin/abstract/index.scss" as *;

.default {
  @include font-theme($captionXs, $m);
  padding: 8px 8px 0;
  &.info {
    color: $cms-gray-600;
  }
  &.error {
    color: $cms-red;
  }
}