.section {
  width: 100%;
  height: 100%;
  padding: 100px 0;
  background-color: $bright-bg;
}

.slide-wrap {
  width: 100%;
  @include flex($justi: center, $align: center, $gap: 30px);
  overflow: hidden;
}

.tit-wrap {
  @include flex(column, center, center, 8px);
  padding-bottom: 80px;
  p {
    @include font-theme($head3Xl, $b);
  }
}

.imgWrap {
  position: relative;
  width: 100%;
  height: auto;
  &.active {
    transform: scale(1.2);
    img {
      width: 100%;
      height: 100%;
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 50px;
  height: 50px;
  @include bgImg("/imgs/logo_youtube.svg", $size: 50px);
}