@use "../../../../../styles/main/abstract/index.scss" as m;

.section {
  position: relative;
}

.intro {
  width: 100%;
  @include grid-col(1fr 530px);
}

.txt-wrap {
  width: 100%;
  padding: 90px 30px;
  h3 {
    margin-bottom: 10px;
    @include m.font-theme($display5Xl, $b);
    color: m.$dark-bg;
    text-align: center;
  }
  p {
    @include m.font-theme($bodyLg, $m);
    color: m.$gray-600;
  }
}

.img {
  width: 100%;
  height: 530px;
  border-radius: 30px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.schedule-wrap {
  width: 100%;
  padding: 0 40px;
  position: absolute;
  left: 0;
  bottom: 80px;
  @include flex($justi: center, $align: center, $gap: 30px);
}

.box {
  width: 100%;
  min-height: 200px;
  background-color: m.$bright-bg;
  border-radius: 20px;
  padding: 30px;
  @include flex(column, null, center, 30px);
}

.icon {
  width: 50px;
  height: 50px;
  img {
    width: 100%;
    height: 100%;
  }
}

.txt {
  text-align: center;
  @include m.font-theme($bodyLg, $b);
  color: m.$main-color;
  .sub {
    padding-top: 6px;
    font-weight: $m;
  }
}