@use "../../../../styles/admin/abstract/index.scss" as *;

.aside {
  width: 250px;
  padding: 8px 0;
  border-right: 1px solid $cms-gray-100;
  nav {
    @include flex(column, center, null, 20px);
  }
  &.side-close {
    width: auto;
  }
}

.head {
  width: 100%;
  height: 70px;
  padding: 0 20px;
  @include flex($align: center, $gap: 12px);
  h1 {
    width: 32px;
    height: 32px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .title {
    p:first-child {
      @include font-theme($bodyLg, $b);
      color: $cms-dark;
    }
    p:last-child {
      @include font-theme($bodySm, $r);
      color: $cms-gray-700;
      margin-top: -5px;
    }
  }
}

.menu-wrap {
  width: 100%;
  padding-left: 12px;
  @include font-theme($bodySm, $b);
  color: $cms-gray-800;
  @include flex(column, center, null, 4px);
  .main-menu {
    display: block;
    @include flex($justi:space-between, $align: center);
    padding: 16px 28px;
    border-radius: 30px 0 0 30px;
    div {
      @include flex($align: center, $gap: 8px);
      img {
        width: 24px;
        height: 24px;
      }
    }
    &.active {
      background-color: $cms-main-10P;
      color: $cms-main-color;
      border-right: 8px solid $cms-main-color;
    }
    &:hover {
      border-right: 8px solid $cms-main-color;
    }
  }
}

.sub-wrap {
  width: 100%;
  padding-left: 40px;
  @include flex(column, center, null, 8px);
  .sub-menu {
    display: block;
    padding: 12px 24px;
    border-radius: 24px 0 0 24px;
    &:hover {
      border-right: 8px solid $cms-main-color;
    }
    &.active {
      background-color: $cms-main-10P;
      color: $cms-main-color;
      border-right: 8px solid $cms-main-color;
    }
  }
}

.aside {
  &.side-close {
    nav {
      align-items: center;
    }
  }
}