@use "../../../../../styles/main/abstract/index.scss" as m;

.table-wrap {
  width: 100%;
  height: 100%;
  @include flex(column, center, null, null);
}

.table {
  width: 100%;
  @include flex($justi: space-between, $align: center, $gap: null);
}

.table-line {
  @include flex(null, center, center, 30px);
  p {
    padding: 5px;
  }
}

.table-head {
  padding: 20px 10px;
  border-top: 2px solid m.$gray-600;
  border-bottom: 2px solid m.$gray-600;
  @include m.font-theme($bodyLg, $b);
  // .table-line {
  //   gap: 10px
  // }
}

.table-content-wrap {
  // @extend .table-head;
  // padding: unset;
  // border: unset;
  .num {
    width: 38px;
    text-align: center;
  }
}

.table-content {
  padding: 20px 10px;
  border-bottom: 1px solid m.$gray-400;
}

.title {
  &:hover {
    text-decoration: underline;
  }
}

.date {
  width: 100px;
  text-align: center;
}