.bg-img {
  width: 100%;
  height: 100%;
  padding: 50px 0;
  @include bgImg("/imgs/page-bg.png");
  @include flex(column, center, center, null);
}

.name-wrap {
  height: 100%;
  color: $bright-bg;
  padding: 10px 30px;
  h1 {
    @include font-theme($head3Xl, $b);
  }
  p {
    @include font-theme($bodyMd, $m)
  }
}