$black: #000000;
$white: #ffffff;

// fonts
$display6Xl-size: 64px;
$display5Xl-size: 48px;
$display4Xl-size: 40px;
$displayXl-size: 32px;
$head3Xl-size: 28px;
$titleXl-size: 24px;
$titleXl-plus-size: 22px;
$bodyLg-size: 18px;
$bodyMd-size: 16px;
$bodySm-size: 14px;
$captionXs-size: 12px;
$captionXxs-plus-size: 11px;
$captionXxs-size: 10px;

$b: 700;
$m: 500;
$r: 400;
$l: 300;

$line150: 1.5;
$line140: 1.4;
$line130: 1.3;

$display6Xl: display6Xl;
$display5Xl: display5Xl;
$display4Xl: display4Xl;
$displayXl: displayXl;
$head3Xl: head3Xl;
$titleXl: titleXl;
$titleXl-plus: titleXl-plus;
$bodyLg: bodyLg;
$bodyMd: bodyMd;
$bodySm: bodySm;
$captionXs: captionXs;
$captionXxs-plus: captionXxs-plus;
$captionXxs: captionXxs;