@use "../../../../../styles/main/abstract/index.scss" as m;

.section {
  width: 100%;
  height: 100%;
  background-color: #F2E5D4;
}

.inner {
  width: 1280px;
  margin: 0 auto;
  padding: 80px 40px;
  @include grid-col(auto 1fr, $gap: 50px);
}

.txt {
  position: sticky;
  top: 120px;
  width: 100%;
  height: fit-content;
  padding: 10px 20px;
  h5 {
    @include m.font-theme($captionXs, $r);
    color: m.$match-color200;
    margin-bottom: 15px;
  }
}

.active-list {
  @include grid-col(1fr 1fr, $gap: 20px);
}

.active {
  width: 100%;
  padding: 40px;
  background-color: m.$bg-color-200;
  border-radius: 15px;
}

.icon {
  width: 80px;
  height: 80px;
  @include flex($justi: center, $align: center);
  border-radius: 10px;
  background-color: m.$match-color300;
  margin-bottom: 32px;
  img {
    width: 35px;
    height: 35px;
  }
}

.active-info {
  h5 {
    @include m.font-theme($titleXl, $b);
  }
  p {
    @include m.font-theme($bodyMd, $r);
    color: m.$gray-500;
  }
}