.box {
  width: 100%;
  background-color: $bright-bg;
  border-radius: 20px;
  padding: 30px;
  @include flex(true, center, center, 30px);
}

.icon {
  width: 50px;
  height: 50px;
  img {
    width: 100%;
    height: 100%;
  }
}

.txt {
  text-align: center;
  @include font-theme($bodyLg, $b);
  color: $main-color;
  & p:last-child {
    padding-top: 6px;
  }
}