.primary {
  width: auto;
  padding: 10px 20px;
  background-color: $main-color;
  color: $white;
  border-radius: 10px;
  @include font-theme($bodyMd, $m);
  &:hover {
    background-color: $main-hover;
  }
  &.nomal {
    width: 130px;
  }
}