$main-color: #482902;
$main-hover: #412A0D;
$match-color200: #D17D09;
$match-color300: #CA8029;
$dark-bg: #402E32;
$black: #000000;
$white: #ffffff;
$red: #DB2F32;

$main-500: #412A0D;
$main-400: #714D28;
$main-300: #9D744C;
$main-200: #CA9D74;
$main-100: #F8C99D;

$bright-bg: #FFF8F0;
$bg-color-200: #FFFAF5;
$bg-color-100: #FFFCF9;

$gray-800: #333333;
$gray-700: #434343;
$gray-600: #616161;
$gray-500: #757575;
$gray-400: #9E9E9E;
$gray-300: #E0E0E0;
$gray-200: #EEEEEE;
$gray-100: #F5F5F5;

$shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);

// fonts
$display6Xl-size: 64px;
$display5Xl-size: 48px;
$display4Xl-size: 40px;
$head3Xl-plus-size: 32px;
$head3Xl-size: 28px;
$head2Xl-size: 24px;
$title2Xl-size: 22px;
$bodyLg-size: 18px;
$bodyMd-size: 16px;
$bodySm-size: 14px;
$captionXs-size: 12px;
$captionXxs-plus-size: 11px;
$captionXxs-size: 10px;

$b: 700;
$m: 500;
$r: 400;

$line150: 1.5;
$line140: 1.4;
$line130: 1.3;

$display6Xl: display6Xl;
$display5Xl: display5Xl;
$display4Xl: display4Xl;
$head3Xl-plus: head3Xl-plus;
$head3Xl: head3Xl;
$head2Xl: head2Xl;
$title2Xl: title2Xl;
$bodyLg: bodyLg;
$bodyMd: bodyMd;
$bodySm: bodySm;
$captionXs: captionXs;
$captionXxs-plus: captionXxs-plus;
$captionXxs: captionXxs;

$font-map: (
  display6Xl: (size: $display6Xl-size, line: $line130, letter: -0.04em),
  display5Xl: (size: $display5Xl-size, line: $line130, letter: -0.03em),
  display4Xl: (size: $display4Xl-size, line: $line130, letter: -0.03em),
  head3Xl-plus: (size: $head3Xl-plus-size, line: $line140, letter: -0.03em),
  head3Xl: (size: $head3Xl-size, line: $line140, letter: -0.03em),
  head2Xl: (size: $head2Xl-size, line: $line140, letter: -0.03em),
  title2Xl: (size: $title2Xl-size, line: $line140, letter: -0.01em),
  bodyLg: (size: $bodyLg-size, line: $line150, letter: -0.01em),
  bodyMd: (size: $bodyMd-size, line: $line150, letter: -0.01em),
  bodySm: (size: $bodySm-size, line: $line150, letter: -0.01em),
  captionXs: (size: $captionXs-size, line: $line150),
  captionXxs-plus: (size: $captionXxs-plus-size, line: $line150),
  captionXxs: (size: $captionXxs-size, line: $line150),
)