@use "../../../../../../styles/main/abstract/index.scss" as m;

.info-wrap {
  @include flex($align: center, $gap: 10px);
  @include m.font-theme($titleXl-plus, $b);
  img {
    width: 30px;
    height: 30px;
  }
}

.container {
  width: 100%;
  margin-top: 50px;
  padding: 0 30px;
  justify-content: space-evenly;
  @extend .info-wrap;
}