.wrapper {
  @include flex(false, center, center, 20px);
}

.nav-btn {
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid $gray-100;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  &.reverse {
    img {
      transform: rotate(180deg);
    }
  }
}

.page-btn {
  @include flex($align: center, $gap: 10px);
}

.num {
  @extend .nav-btn;
  background-color: unset;
  box-shadow: none;
  border: none;
  @include font-theme($bodyMd, $b);
  color: $gray-700;
  &.active {
    color: white;
    background-color: $main-300;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  }
}