@use "../../../../styles/admin/abstract/index.scss" as *;

.title {
  @include flex(null, space-between, center);
  padding: 16px 20px;
  background-color: white;
  p {
    @include font-theme($bodySm, $b);
    color: $cms-dark;
  }
}