@use "./base/reset" as *;
@use "./abstract/font" as *;

// 공통설정
main {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 139px);
}

.inner {
  width: 100%;
  height: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 80px 40px;
}

@include gen-font-class($display6Xl);
@include gen-font-class($display5Xl);
@include gen-font-class($display4Xl);
@include gen-font-class($head3Xl-plus);
@include gen-font-class($head3Xl);
@include gen-font-class($head2Xl);
@include gen-font-class($title2Xl);
@include gen-font-class($bodyLg);
@include gen-font-class($bodyMd);
@include gen-font-class($bodySm);
@include gen-font-class($captionXs);
@include gen-font-class($captionXxs-plus);
@include gen-font-class($captionXxs);

button {
  cursor: pointer;
}

input:focus {
  outline: none;
  border: 1px solid black !important;
}

#youtubeSection {
  .swiper-wrapper {
    width: 555px;
    height: 316px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}