.section {
  @include flex(column, $gap: 80px);
  width: 100%;
  height: 100%;
}

.title {
  @include font-theme($display5Xl, $b);
  color: $dark-bg;
  align-self: center;
}

.list {
  @include grid-col(1fr 1fr 1fr, $gap: 30px);
}

.img {
  width: 100%;
  height: 350px;
  img {
    @extend .img;
    object-fit: cover;
  }
}